{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.org>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<header class="sheet-header">
    <div class="sheet-header__main flexrow">
        <img class="sheet-header__portrait" src="{{actorImg}}" data-edit="img" alt="{{actorName}}" />
        <div class="sheet-header__details">
            <h1 class="actor-name">
                <input name="name" type="text" value="{{actorName}}" placeholder="{{localize 'Name'}}" />
            </h1>
            <input class="sheet-header__shortcode" name="system.shortcode" type="text"
                value="{{document.system.shortcode}}" placeholder="shortcode" />
        </div>
        <div class="sheet-header__statuses">
            {{#each statusEffects}}
            {{#if this.toggleable}}
            <a class="sheet-header__status {{#if this.active}}active{{/if}}" data-action="toggleStatus"
                data-status-id="{{this.id}}" data-tooltip="{{this.label}}">{{this.abbr}}</a>
            {{else}}
            <span class="sheet-header__status sheet-header__status--indicator {{#if this.active}}active{{/if}}"
                data-tooltip="{{this.label}} (from affliction)">{{this.abbr}}</span>
            {{/if}}
            {{/each}}
        </div>
        <div class="sheet-header__health">
            <div class="sheet-header__health-label" data-tooltip="{{healthPct}}%">{{localize "Health"}}: {{healthBand}}</div>
            <div class="sheet-header__health-bar" data-tooltip="{{healthPct}}%">
                <div class="sheet-header__health-fill" style="width: {{healthPct}}%"></div>
            </div>
        </div>
    </div>
    {{#if bodyParts.length}}
    <div class="sheet-header__locations">
        {{#each bodyParts}}
        <span class="sheet-header__location sheet-header__location--{{this.status}}"
            data-status="{{this.status}}" data-shortcode="{{this.shortcode}}">{{this.name}}</span>
        {{/each}}
    </div>
    {{/if}}
</header>
