{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab trauma{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="trauma">
    {{!-- Shock State --}}
    {{#if shockState}}
    <div class="notification warning">
        <i class="sohl-hazard-sign"></i> Shock State: {{shockState}}
    </div>
    {{/if}}

    {{!-- Injuries --}}
    <fieldset>
        <legend>
            Injuries
            {{#if editable}}
            <a class="list__control" data-action="addInjury" data-tooltip="Add Injury">
                <i class="sohl-plus"></i>
            </a>
            {{/if}}
        </legend>
        <ol class="list__items">
            <li class="list__header flexrow">
                <h3 class="list__name">Injury</h3>
                <div class="list__detail" data-tooltip="Injury Level">Sev</div>
                <div class="list__detail" data-tooltip="Healing Rate">HR</div>
                <div class="list__detail">Aspect</div>
                <div class="list__detail" data-tooltip="Treated">Trt</div>
                <div class="list__detail" data-tooltip="Bleeding">Bld</div>
            </li>
            {{#each traumas as |injury|}}
            <li class="item flexrow" data-item-id="{{injury.id}}" data-item-name="{{injury.name}}" data-search-name="{{injury.name}}">
                <div class="list__name default-action flexrow">
                    <div class="list__image" style="background-image: url('{{injury.img}}')"></div>
                    <h4 data-tooltip="{{injury.name}}">{{injury.name}}</h4>
                </div>
                <div class="list__detail">
                    {{#if (lte injury.logic.level.effective 0)}}
                    <i class="sohl-heart-plus"></i>
                    {{else}}
                    {{injury.logic.level.effective}}
                    {{/if}}
                </div>
                <div class="list__detail">
                    {{#if injury.logic.healingRate.disabled}}
                    <i class="sohl-xmark"></i>
                    {{else}}
                    {{injury.logic.healingRate.effective}}
                    {{/if}}
                </div>
                <div class="list__detail">{{injury.system.aspect}}</div>
                <div class="list__detail">
                    {{#if injury.system.isTreated}}
                    <i class="sohl-check"></i>
                    {{else}}
                    <i class="sohl-xmark"></i>
                    {{/if}}
                </div>
                <div class="list__detail">
                    {{#if injury.system.isBleeding}}
                    <i class="sohl-drop danger"></i>
                    {{else}}
                    <i class="sohl-xmark"></i>
                    {{/if}}
                </div>
                <div class="list__controls">
                    <a class="list__control item-contextmenu" title="Menu"><i class="sohl-ellipsis-vertical"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </fieldset>

    {{!-- Afflictions --}}
    {{#each afflictionGroups as |afflictions groupName|}}
    <fieldset>
        <legend>{{@key}} Afflictions</legend>
        <ol class="list__items">
            <li class="list__header flexrow">
                <h3 class="list__name">Affliction</h3>
                <div class="list__detail" data-tooltip="Level">Level</div>
                <div class="list__detail" data-tooltip="Healing Rate">HR</div>
            </li>
            {{#each afflictions as |aff|}}
            <li class="item flexrow" data-item-id="{{aff.id}}" data-item-name="{{aff.name}}" data-search-name="{{aff.name}}">
                <div class="list__name default-action flexrow">
                    <div class="list__image" style="background-image: url('{{aff.img}}')"></div>
                    <h4 data-tooltip="{{aff.name}}">{{aff.name}}</h4>
                </div>
                <div class="list__detail">{{aff.logic.level.effective}}</div>
                <div class="list__detail">
                    {{#if aff.logic.healingRate.disabled}}
                    <i class="sohl-xmark"></i>
                    {{else}}
                    {{aff.logic.healingRate.effective}}
                    {{/if}}
                </div>
                <div class="list__controls">
                    <a class="list__control item-contextmenu" title="Menu"><i class="sohl-ellipsis-vertical"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
    </fieldset>
    {{/each}}
</section>
