{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<form>
    <div class="form-group">
        <label>Location:</label>
        <select name="location">
            {{selectOptions hitLocations selected=location valueAttr="code"
            labelAttr="name"}}
        </select>
    </div>

    <div class="grid grid-2col">
        <div class="form-group">
            <label>Aspect:</label>
            {{#if aspect}}
            <span>{{aspect}}</span>
            <input type="hidden" name="aspect" value="{{aspect}}" />
            {{else}}
            <select name="aspect">
                {{#each aspectChoices}}
                <option
                    value="{{this}}"
                    {{#if (eq this ../aspect)}}selected{{/if}}
                >
                    {{this}}
                </option>
                {{/each}}
            </select>
            {{/if}}
        </div>

        <div class="form-group" data-tooltip="Impact damage value">
            <label>Impact:</label>
            {{#if impactVal}}
            <span class="value">{{impactVal}}</span>
            <input type="hidden" name="impactVal" value="{{impactVal}}" />
            {{else}}
            <input type="number" name="impactVal" value="0" />
            {{/if}}
        </div>
    </div>

    <div class="form-group">
        <label>Armor Reduction:</label>
        <input type="number" name="armorReduction" value="{{armorReduction}}" />
    </div>

    <div class="form-group">
        <input
            type="checkbox"
            name="extraBleedRisk"
            value="{{extraBleedRisk}}"
            data-dtype="Boolean"
            {{checked extraBleedRisk}} />
        <label>Extra Bleed Risk</label>
    </div>

    {{#if askRecordInjury}}
    <div class="form-group">
        <input
            type="checkbox"
            name="addToCharSheet"
            value="{{addToCharSheet}}"
            data-dtype="Boolean"
            {{checked addToCharSheet}} />
        <label for="addToCharSheet">Add to Character Sheet</label>
    </div>
    {{/if}}
</form>
