{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.org>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab actions{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="actions">

    {{!-- Custom (script) actions — each bound to a Macro; GM-editable (#313) --}}
    <div class="search-items">
        <input class="search-criteria" type="search" name="search-actions" value=""
            aria-label="Search Actions" placeholder="Search Actions" autocomplete="off" />
    </div>

    <ol class="list__items actions-list">
        <li class="list__header flexrow">
            <h3 class="list__name">Custom Actions</h3>
            <div class="list__detail">Group</div>
            <div class="list__detail list__notes"></div>
            <div class="list__controls">
                <a class="list__control action-create" data-action="createAction" data-tooltip="Create Action">
                    <i class="fa-solid fa-file-plus"></i>
                </a>
            </div>
        </li>
        {{#each customActions as |action|}}
        <li class="item flexrow" data-search-name="{{localize action.data.title}}" data-action-name="{{action.data.shortcode}}">
            <div class="list__name flexrow">
                <div class="list__image" style="background-image: url('{{action.data.img}}')"></div>
                <h4>{{localize action.data.title}}</h4>
            </div>
            <div class="list__detail">{{action.data.group}}</div>
            <div class="list__detail list__notes"></div>
            <div class="list__controls">
                <a class="list__control" data-action="editAction" title="Edit Macro">
                    <i class="fa-solid fa-file-pen"></i>
                </a>
                <a class="list__control" data-action="deleteAction" title="Remove Action">
                    <i class="fa-solid fa-trash"></i>
                </a>
                <a class="list__control" data-action="runAction" data-tooltip="Run {{localize action.data.title}}">
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>

    {{!-- Intrinsic actions --}}
    <ol class="list__items actions-list">
        <li class="list__header flexrow">
            <h3 class="list__name">Intrinsic Actions</h3>
            <div class="list__detail">Group</div>
            <div class="list__detail list__notes"></div>
            <div class="list__controls"></div>
        </li>
        {{#each intrinsicActions as |action|}}
        <li class="item flexrow" data-search-name="{{localize action.data.title}}" data-action-name="{{action.data.shortcode}}">
            <div class="list__name flexrow" >
                <div class="list__image" style="background-image: url('{{action.data.img}}')"></div>
                <h4>{{localize action.data.title}}</h4>
            </div>
            <div class="list__detail">{{action.data.group}}</div>
            <div class="list__detail list__notes"></div>
            <div class="list__controls">
                <a class="list__control" data-action="runAction" data-tooltip="Run {{localize action.data.title}}">
                    <i class="fa-solid fa-play"></i>
                </a>
            </div>
        </li>
        {{/each}}
    </ol>
</section>
