{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab gear{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="gear">
    <div class="search-items">
        <input class="search-criteria" type="search" name="search-gear" value=""
            aria-label="Search Gear" placeholder="Search Gear" autocomplete="off" />
        <div class="search-controls">
            <a class="search-control item-create" data-tooltip="Add Gear" data-type="miscgear">
                <i class="sohl-file-create"></i>
            </a>
        </div>
    </div>

    {{!-- On Body (ungrouped gear) --}}
    {{#if onBodyItems.length}}
    <div class="list gear-list">
        <header class="list__header flexrow">
            <h3 class="list__name">On Body</h3>
            <div class="list__detail">Type</div>
            <div class="list__detail">Qty</div>
            <div class="list__detail">Wt</div>
        </header>
        <ol class="list__items">
            {{#each onBodyItems as |item|}}
            <li class="item flexrow" data-search-name="{{item.name}}" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}">
                <div class="list__name flexrow">
                    <div class="list__image" style="background-image: url('{{item.img}}')"></div>
                    <h4>{{item.name}}</h4>
                </div>
                <div class="list__detail">{{item.type}}</div>
                <div class="list__detail">{{item.system.quantity}}</div>
                <div class="list__detail">{{item.system.weightBase}}</div>
                <div class="list__controls">
                    {{#if (eq item.type "armorgear")}}
                    <a class="list__control item-worn" title="Worn">
                        <i class="sohl-chest-armor {{#unless item.system.isEquipped}}disabled{{/unless}}"></i>
                    </a>
                    {{/if}}
                    <a class="list__control item-carried" title="Carried">
                        <i class="sohl-sack {{#unless item.system.isCarried}}disabled{{/unless}}"></i>
                    </a>
                    <a class="list__control item-contextmenu" title="Menu">
                        <i class="sohl-ellipsis-vertical"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}

    {{!-- Containers --}}
    {{#each containers as |entry|}}
    <div class="list gear-list" data-container-id="{{entry.container.id}}">
        <header class="list__header flexrow">
            <h3 class="list__name">{{entry.container.name}}</h3>
            <div class="list__detail">Type</div>
            <div class="list__detail">Qty</div>
            <div class="list__detail">Wt</div>
        </header>
        <ol class="list__items">
            {{#each entry.items as |item|}}
            <li class="item flexrow" data-search-name="{{item.name}}" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}">
                <div class="list__name flexrow">
                    <div class="list__image" style="background-image: url('{{item.img}}')"></div>
                    <h4>{{item.name}}</h4>
                </div>
                <div class="list__detail">{{item.type}}</div>
                <div class="list__detail">{{item.system.quantity}}</div>
                <div class="list__detail">{{item.system.weightBase}}</div>
                <div class="list__controls">
                    <a class="list__control item-contextmenu" title="Menu">
                        <i class="sohl-ellipsis-vertical"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/each}}
</section>
