{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab gear{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="gear">
    <div class="search-items">
        <input class="search-criteria" type="search" name="search-gear" value=""
            aria-label="Search Gear" placeholder="Search Gear" autocomplete="off" />
        <div class="search-controls">
            <a class="search-control item-create" data-action="createItem" data-tooltip="Add Gear" data-type="miscgear">
                <i class="sohl-file-create"></i>
            </a>
        </div>
    </div>

    {{!-- One gear section (On Body or a container): a capacity readout plus the
          Type / Qty / Weight / Qual / Dur / Notes columns. --}}
    {{#*inline "gearSection"}}
    <div class="list gear-list"{{#if id}} data-container-id="{{id}}"{{/if}}>
        <header class="list__header flexrow">
            <h3 class="list__name">{{title}}</h3>
            <div class="list__detail">Type</div>
            <div class="list__detail" data-tooltip="Quantity">Qty</div>
            <div class="list__detail">Weight</div>
            <div class="list__detail" data-tooltip="Quality">Qual</div>
            <div class="list__detail" data-tooltip="Durability">Dur</div>
            <div class="list__detail list__notes">Notes</div>
            {{#if capacity.isEncumbrance}}
            <div class="list__capacity" data-tooltip="Total carried weight and resulting encumbrance">Carried: {{capacity.used}} lb &middot; Enc {{capacity.encumbrance}}</div>
            {{else}}
            <div class="list__capacity" data-tooltip="Weight carried / capacity">Capacity: {{capacity.used}}/{{capacity.max}}</div>
            {{/if}}
        </header>
        <ol class="list__items">
            {{#each items as |item|}}
            <li class="item flexrow" data-search-name="{{item.name}}" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}">
                <div class="list__name flexrow">
                    <div class="list__image" style="background-image: url('{{item.img}}')"></div>
                    <h4 data-tooltip="{{item.name}}">{{item.name}}</h4>
                </div>
                <div class="list__detail">{{item.typeLabel}}</div>
                <div class="list__detail">{{item.quantity}}</div>
                <div class="list__detail">{{item.weight}}</div>
                <div class="list__detail">{{item.quality}}</div>
                <div class="list__detail">{{item.durability}}</div>
                <div class="list__detail list__notes" data-tooltip="{{item.notes}}">{{item.notes}}</div>
                <div class="list__controls">
                    {{#if item.isArmor}}
                    <a class="list__control item-worn" data-action="toggleEquipped" title="Worn">
                        <i class="sohl-chest-armor {{#unless item.isEquipped}}disabled{{/unless}}"></i>
                    </a>
                    {{/if}}
                    <a class="list__control item-carried" data-action="toggleCarried" title="Carried">
                        <i class="sohl-sack {{#unless item.isCarried}}disabled{{/unless}}"></i>
                    </a>
                    <a class="list__control item-contextmenu" title="Menu">
                        <i class="sohl-ellipsis-vertical"></i>
                    </a>
                </div>
            </li>
            {{/each}}
        </ol>
    </div>
    {{/inline}}

    {{!-- On Body (loose gear) --}}
    {{> gearSection title="On Body" items=onBody.items capacity=onBody.capacity}}

    {{!-- Each container as its own section --}}
    {{#each containers as |section|}}
    {{> gearSection title=section.name id=section.id items=section.items capacity=section.capacity}}
    {{/each}}
</section>
