{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab content" data-group="primary" data-tab="skills">
    <div class="search-items">
        <input class="search-criteria" type="search" name="search-skills" value="" aria-label="Search Skills"
            placeholder="Search Skills" autocomplete="off" />
        <div class="search-controls">
            <a class="search-control item-create" data-tooltip="Create Skill"
                data-type="skill"><i class="fas fa-file-plus"></i></a>
        </div>
    </div>

    {{!-- Skills --}}
    {{#each itemSubtypes.skill as | itemstlist |}}
    {{#if (and itemstlist.allItems.length (ne @key "esoteric"))}}
    <div class="items-list" data-category="{{@key}}">
        <header class="items-header flexrow">
            <h3 class="item-name name">{{itemstlist.label}} Skills</h3>
            <div class="detail ele" data-tooltip="Skill Base">SB</div>
            <div class="detail ele" data-tooltip="Mastery Level">ML</div>
            <div class="detail ele" data-tooltip="Index">Index</div>
            {{#if (eq variant "legendary")}}
            <div class="detail ele" data-tooltip="Secondary Modifier">SM</div>
            {{/if}}
            <div class="detail ele" data-tooltip="Effective Mastery Level">EML</div>
            <div class="detail ele" data-tooltip="Fate Mastery Level">Fate</div>
            <div class="detail notes">Notes</div>
        </header>
        <ol class="item-list">
            {{#each itemstlist.items as | item |}}
                <li class="item flexrow" data-item-id="{{item.id}}" data-uuid="{{item.uuid}}"
                    data-item-name="{{item.name}}">
                    <div class="item-name name default-action flexrow">
                        <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                        <h4 data-tooltip="{{item.name}}">{{item.name}}</h4>
                    </div>
                    <div class="detail ele">{{system.$skillBase.value}}</div>
                    <div class="detail ele">{{system.$masteryLevel.base}}</div>
                    <div class="detail ele">
                        {{#if system.$masteryLevel.disabled}}
                        <i class="fas fa-xmark fa-lg"></i>
                        {{else}}
                        {{system.$masteryLevel.index}}
                        {{/if}}
                    </div>
                    {{#if (eq variant "legendary")}}
                    <div class="detail ele">
                        {{#if system.$masteryLevel.disabled}}
                        <i class="fas fa-xmark fa-lg"></i>
                        {{else}}
                        {{numberFormat system.$masteryLevel.secMod sign=true}}
                        {{/if}}
                    </div>
                    {{/if}}
                    <div class="detail ele" data-tooltip="{{system.$masteryLevel.shortcode}}">
                        {{#if system.$masteryLevel.disabled}}
                        <i class="fas fa-xmark fa-lg"></i>
                        {{else}}
                        {{system.$masteryLevel.effective}}
                        {{/if}}
                    </div>
                    <div class="detail ele" data-tooltip="{{system.$masteryLevel.fate.shortcode}}">
                        {{#if system.$masteryLevel.fate.disabled}}
                        <i class="fas fa-xmark fa-lg"></i>
                        {{else}}
                        {{system.$masteryLevel.fate.effective}}
                        {{/if}}
                    </div>
                    <div class="detail notes">{{system.notes}}</div>
                    {{#unless printable}}
                    <div class="item-controls">
                        {{#if system.canImprove}}
                        <a class="item-control toggle-improve-flag"
                            title="Improve {{item.label}}">{{#if system.improveFlag}}<i
                            class="active fas fa-star fa-fw"></i>{{else}}<i
                            class="far fa-star fa-fw"></i>{{/if}}</a>
                        {{/if}}
                        <a class="item-control item-contextmenu" title="Menu"><i
                            class="fas fa-ellipsis-vertical fa-fw"></i></a>
                    </div>
                    {{/unless}}
                </li>
            {{/each}}
        </ol>
    </div>
    {{/if}}
    {{/each}}
</section>
