<nav class="sheet-tabs tabs" data-group="primary">
  {{#each tabs}}
  <a
    class="item control {{cssClass}}"
    data-action="tab"
    data-group="{{group}}"
    data-tab="{{id}}"
    aria-label="{{localize label}}"
    {{#if tooltip}}data-tooltip="{{localize tooltip}}"{{/if}}
  >
    {{#if icon}}<i class="{{icon}}" inert></i>{{/if}} {{localize label}}
  </a>
  {{/each}}
</nav>
