<nav class="tabs" data-group="sheet">
  <a class="item" data-tab="facade"><i class="fas fa-masks-theater"></i> {{localize "SOHL.UI.TAB.Facade"}}</a>
  <a class="item" data-tab="profile"><i class="fas fa-user"></i> {{localize "SOHL.UI.TAB.Profile"}}</a>
  <a class="item" data-tab="skills"><i class="fas fa-book"></i> {{localize "SOHL.UI.TAB.Skills"}}</a>
  <a class="item" data-tab="combat"><i class="fas fa-sword"></i> {{localize "SOHL.UI.TAB.Combat"}}</a>
  <a class="item" data-tab="trauma"><i class="fas fa-heartbeat"></i> {{localize "SOHL.UI.TAB.Trauma"}}</a>
  <a class="item" data-tab="mysteries"><i class="fas fa-sparkles"></i> {{localize "SOHL.UI.TAB.Mysteries"}}</a>
  <a class="item" data-tab="gear"><i class="fas fa-briefcase"></i> {{localize "SOHL.UI.TAB.Gear"}}</a>
  <a class="item" data-tab="actions"><i class="fas fa-cogs"></i> {{localize "SOHL.UI.TAB.Actions"}}</a>
  <a class="item" data-tab="effects"><i class="fas fa-bolt"></i> {{localize "SOHL.UI.TAB.Effects"}}</a>
</nav>