{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab nested-items" data-tab="nested-items">
    <fieldset>
        <legend>Nested Items</legend>
        {{#if nestedItems.length}}
        <ol class="item-list nested-items-tree">
            {{#each nestedItems as |item|}}
            <li class="item flexrow nested-depth-{{item.depth}}" data-item-id="{{item.id}}" data-item-name="{{item.name}}"
                style="padding-left: {{multiply item.depth 1.5}}em;">
                <div class="item-name default-action flexrow">
                    <div class="item-image" style="background-image: url('{{item.img}}')"></div>
                    <h4 data-tooltip="{{item.name}}">{{item.name}}</h4>
                </div>
                <div class="item-detail">{{item.type}}</div>
                <div class="item-controls">
                    <a class="item-control item-contextmenu" title="Menu"><i class="fas fa-ellipsis-vertical fa-fw"></i></a>
                </div>
            </li>
            {{/each}}
        </ol>
        {{else}}
        <p class="empty-message">No nested items.</p>
        {{/if}}
    </fieldset>
</section>
