{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<div class="hmk chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
    </header>

    {{#if notes}}
    <div class="card-note">
        <span>{{notes}}</span>
    </div>
    {{/if}}

    <div class="grid grid-2col">
        <div class="card-content center">
            <div class="flexrow">
                <span class="label">Formula:</span>
                <span class="value">{{impactLabel}}</span>
            </div>
        </div>

        <div class="card-content center">
            <div class="flexrow">
                <span class="label">Roll:</span>
                <span class="value"
                    >{{rollResult}} = <strong>{{impact}}</strong></span
                >
            </div>
        </div>
    </div>

    <div class="card-content center">
        <div class="flexrow">
            <span class="label">Aspect:</span>
            <span class="value">{{aspect}}</span>
        </div>
    </div>

    {{#if hasTarget}}
    <div class="card-buttons">
        <button
            data-action="createInjury"
            data-handler-uuid="{{handlerUuid}}"
            data-source-actor-uuid="{{sourceActorUuid}}"
            data-test-result-json="{{testResultJson}}">
            Calculate {{targetName}} Injury
        </button>
    </div>
    {{/if}}
</div>
