{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<div class="hmk chat-card item-card" data-actor-uuid="{{actor.uuid}}">
    <header class="card-header flexcol">
        <h3 class="title">{{title}}</h3>
        <h4 class="subtitle">{{sourceTestResult.token.name}} vs. {{targetToken.name}}</h4>
    </header>

    <div class="card-content flex-group-center">
        <span class="value">{{sourceTestResult.token.name}} performs a {{sourceTestResult.title}} against {{opposedTestResult.targetToken.name}}</span>
    </div>
    <div class="card-content center">
        <span class="result-desc">{{description}}</span>
    </div>
    {{#if opposedTests}}
        <div class="card-buttons {{#if (gt opposedTests.length 1)}}grid grid-2col{{/if}}">
            {{#each opposedTests}}
            <button
                data-action="{{action}}"
                data-action-handler-uuid="{{../targetToken.actor.uuid}}"
                data-opposed-test-result-json="{{../opposedTestResultJson}}">
                <i class="{{icon}}"></i> {{label}}
            </button>
            {{/each}}
        </div>
    {{/if}}
</div>
