{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<div class="hmk chat-card item-card" data-actor-id="{{actorId}}">
    <header class="card-header flexrow">
        <h3 class="title">{{title}}</h3>
        <h4 class="subtitle">{{tokenName}}'s {{weaponName}}</h4>
    </header>

    <div class="grid grid-2col">
        <div class="card-content center">
            <div class="flexrow">
                <span class="label">Weapon Quality / Roll:</span>
                <span class="value">{{quality}} / {{rollValue}}</span>
            </div>
        </div>
    </div>

    {{#if weaponBroke}}
    <div class="card-content center">
        <span class="weapon-broke">{{tokenName}}'s {{weaponName}} broke!</span>
    </div>
    {{else}}
    <div class="card-content center">
        <span class="value">{{tokenName}}'s {{weaponName}} OK</span>
    </div>
    {{/if}}
</div>
