<nav class="tabs" data-group="sheet">
  <a class="item" data-tab="profile"><i class="fas fa-user"></i> {{localize "SOHL.Profile"}}</a>
  <a class="item" data-tab="skills"><i class="fas fa-book"></i> {{localize "SOHL.Skills"}}</a>
  <a class="item" data-tab="combat"><i class="fas fa-sword"></i> {{localize "SOHL.Combat"}}</a>
  <a class="item" data-tab="trauma"><i class="fas fa-heartbeat"></i> {{localize "SOHL.Trauma"}}</a>
  <a class="item" data-tab="mysteries"><i class="fas fa-sparkles"></i> {{localize "SOHL.Mysteries"}}</a>
  <a class="item" data-tab="gear"><i class="fas fa-briefcase"></i> {{localize "SOHL.Gear"}}</a>
  <a class="item" data-tab="actions"><i class="fas fa-cogs"></i> {{localize "SOHL.Actions"}}</a>
  <a class="item" data-tab="events"><i class="fas fa-calendar"></i> {{localize "SOHL.Events"}}</a>
  <a class="item" data-tab="effects"><i class="fas fa-bolt"></i> {{localize "SOHL.Effects"}}</a>
</nav>