{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.org>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab properties{{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="properties">
    <div class="grid grid-3col">
        {{formGroup fields.category rootId="ail-category" classes="stacked" value=logic.data.category}}
        {{formGroup fields.isDormant rootId="ail-dormant" classes="stacked" value=logic.data.isDormant}}
        {{formGroup fields.levelBase rootId="ail-level" classes="stacked" value=logic.data.levelBase}}
        <div class="form-group stacked">
            <label>{{localize "SOHL.Affliction.FIELDS.healingRateBase.label"}}</label>
            {{clearableNumberInput fields.healingRateBase name="system.healingRateBase" value=logic.data.healingRateBase}}
        </div>
        {{formGroup fields.contagionIndexBase rootId="ail-contidx" classes="stacked" value=logic.data.contagionIndexBase}}
        {{formGroup fields.transmission rootId="ail-trx" classes="stacked" value=logic.data.transmission}}
        {{formGroup fields.diagnosisBonusBase rootId="ail-diag" classes="stacked" value=logic.data.diagnosisBonusBase}}
        {{formGroup fields.contractDate rootId="ail-contract" classes="stacked" value=logic.data.contractDate}}
        <div class="form-group stacked stacked">
            <label>Treated (world-time)</label>
            {{clearableNumberInput fields.treatmentDate name="system.treatmentDate" value=logic.data.treatmentDate}}
        </div>
        {{formGroup fields.onsetDurationFormula rootId="ail-onset-duration-formula" classes="stacked" value=logic.data.onsetDurationFormula}}
        {{formGroup fields.onsetDurationBase rootId="ail-onset-duration-base" classes="stacked" value=logic.data.onsetDurationBase}}
        {{formGroup fields.onsetDate rootId="ail-onset-date" classes="stacked" value=logic.data.onsetDate}}
        {{formGroup fields.healingCheckDurationFormula rootId="ail-healing-check-duration-formula" classes="stacked" value=logic.data.healingCheckDurationFormula}}
        {{formGroup fields.healingCheckDurationBase rootId="ail-healing-check-duration-base" classes="stacked" value=logic.data.healingCheckDurationBase}}
        {{formGroup fields.resolutionDurationFormula rootId="ail-resolution-duration-formula" classes="stacked" value=logic.data.resolutionDurationFormula}}
        {{formGroup fields.resolutionDurationBase rootId="ail-resolution-duration-base" classes="stacked" value=logic.data.resolutionDurationBase}}
        {{formGroup fields.resolutionDate rootId="ail-resolution-date" classes="stacked" value=logic.data.resolutionDate}}
    </div>
</section>
