{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab properties" data-tab="properties">
    <fieldset>
        <legend>Gear</legend>
        <div class="grid grid-3col">
            {{formField fields.shortcode rootId="concgear-shortcode" classes="text-field" stacked=true value=system.shortcode}}
            {{formField fields.quantity rootId="concgear-quant" classes="text-field" stacked=true value=system.quantity}}
            {{formField fields.weightBase rootId="concgear-wt" classes="text-field" stacked=true value=system.weightBase}}
            {{formField fields.valueBase rootId="concgear-val" classes="text-field" stacked=true value=system.valueBase}}
            {{formField fields.isCarried rootId="concgear-carried" classes="text-field" stacked=true value=system.isCarried}}
            {{formField fields.isEquipped rootId="concgear-equipped" classes="text-field" stacked=true value=system.isEquipped}}
            {{formField fields.qualityBase rootId="concgear-qual" classes="text-field" stacked=true value=system.qualityBase}}
            {{formField fields.durabilityBase rootId="concgear-dur" classes="text-field" stacked=true value=system.durabilityBase}}
        </div>
    </fieldset>

    <div class="grid grid-3col">
        {{formField fields.potency rootId="concgear-potency" classes="text-field" stacked=true value=system.potency}}
        {{formField fields.strength rootId="concgear-strength" classes="text-field" stacked=true value=system.strength}}
    </div>
</section>
