{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab properties" data-tab="properties">
    <div class="grid grid-3col">
        {{formField fields.shortcode rootId="mystabl-shortcode" classes="text-field" stacked=true value=system.shortcode}}
        {{formField fields.skillBaseFormula rootId="mystabl-sbf" classes="text-field" stacked=true value=system.skillBaseFormula}}
        {{formField fields.masteryLevelBase rootId="mystabl-mlb" classes="text-field" stacked=true value=system.masteryLevelBase}}
        {{formField fields.improveFlag rootId="mystabl-improve" classes="text-field" stacked=true value=system.improveFlag}}
        {{formField fields.assocSkillCode rootId="mystabl-assocskill" classes="text-field" stacked=true value=system.assocSkillCode}}
        {{formField fields.isImprovable rootId="mystabl-improvable" classes="text-field" stacked=true value=system.isImprovable}}
        {{formField fields.domainCode rootId="mystabl-domaincode" classes="text-field" stacked=true value=system.domainCode}}
        {{formField fields.levelBase rootId="mystabl-levelbase" classes="text-field" stacked=true value=system.levelBase}}
    </div>

    <fieldset>
        <legend>Charges</legend>
        <div class="grid grid-3col">
            {{formField fields.charges.fields.usesCharges rootId="mystabl-charges-uses" classes="text-field" stacked=true value=system.charges.usesCharges}}
            {{formField fields.charges.fields.value rootId="mystabl-charges-val" classes="text-field" stacked=true value=system.charges.value}}
            {{formField fields.charges.fields.max rootId="mystabl-charges-max" classes="text-field" stacked=true value=system.charges.max}}
        </div>
    </fieldset>
</section>
