{{!--
This file is part of the Song of Heroic Lands (SoHL) system for Foundry VTT.
Copyright (c) 2024–2026 Tom Rodriguez ("Toasty") <toasty@heroiclands.com>

Licensed under the GNU General Public License v3.0 (GPLv3).
You may copy, modify, and distribute this file under the terms of that license.

See LICENSE.md in the project root or:
https://www.gnu.org/licenses/gpl-3.0.html

SPDX-License-Identifier: GPL-3.0-or-later
--}}

<section class="tab properties" data-tab="properties">
    <div class="grid grid-3col">
        {{formField fields.shortcode rootId="mystery-shortcode" classes="text-field" stacked=true value=system.shortcode}}
        {{formField fields.domainCode rootId="mystery-domaincode" classes="text-field" stacked=true value=system.domainCode}}
        {{formField fields.levelBase rootId="mystery-levelbase" classes="text-field" stacked=true value=system.levelBase}}
    </div>

    <fieldset>
        <legend>Charges</legend>
        <div class="grid grid-3col">
            {{formField fields.charges.fields.usesCharges rootId="mystery-charges-uses" classes="text-field" stacked=true value=system.charges.usesCharges}}
            {{formField fields.charges.fields.value rootId="mystery-charges-val" classes="text-field" stacked=true value=system.charges.value}}
            {{formField fields.charges.fields.max rootId="mystery-charges-max" classes="text-field" stacked=true value=system.charges.max}}
        </div>
    </fieldset>

    <fieldset>
        <legend>Affected Skills (all if none specified)</legend>
        <div class="flexrow">
            <a class="add-array-item"
                data-array="system.skills"
                data-dtype="String"
                data-default-value=""
                data-title="Skill"
                ><i class="fas fa-plus"></i> Add Skill</a>
        </div>
        <ol class="grid grid-4col">
            {{#each skills}}
            <li class="mystery-skill">
                <span class="name">{{this}}</span>
                <a class="delete-array-item"
                    data-array="system.skills"
                    data-value="{{this}}"
                    title="Skill"
                    ><i class="fas fa-trash"></i></a>
            </li>
            {{/each}}
        </ol>
    </fieldset>
</section>
